[Oo]bj
[Bb]in
html
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.orig
[Tt]humbs.db 
_ReSharper.*
*.resharper
artifacts
databases
Ganesha.Web/ganesha.db
Ganesha.Web/Temp/*.xls
Ganesha.Web/Temp/*.xlsx
.sonar